@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

:root {
    --blank-key-color: #cbd5e188;
    --first-column: #fde04788;
    --second-column: #86efac88;
    --third-column: #7dd3fc88;
    --fourth-column: #f9a8d488;
    --space-key-color: #d8b4fe88;
    --highlight-color: #ff0000;
}

* {
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: grid;
    justify-items: center;
}

.menu-screen {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #00000022;
    width: 100vw;
    height: 100vh;
}

.menu-box {
    background-color: #bbbbbb;
    width: 20rem;
    height: 30rem;
}

#text-zone {
    width: 90vw;
    height: 32rem;
    padding: 0;
    border: 0.0625rem solid #000000;
}

#text-source, #text-input {
    font-size: 1.25rem;
    font-family: "Fira Mono", monospace;
    position: absolute;
    width: 90vw;
    height: 32rem;
    padding: 0.75rem;
}

#text-source {
    opacity: 1;
}

#text-input {
    border-width: 0;
    resize: none; 
    opacity: 0.6;
}

#text-input:focus {
    outline: 0;
}

#text-source, #keyboard {
    user-select: none;
}

.key, .blank-key, .space-key {
    height: 3.125rem;
    border: 0.0625rem solid #000000;
    border-radius: 0.3125rem;
}

.key {
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 1.125rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    width: 3.125rem;
}

.blank-key {
    background-color: var(--blank-key-color);
}

.space-key {
    background-color: var(--space-key-color);
}

.highlighted {
    box-shadow: 0 0 0.25rem 0.25rem var(--highlight-color);
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    gap: 0.3125rem;
    margin: 0.3125rem 0;
}

.first-row {
    display: grid;
    grid-template-columns: repeat(13, 3.125rem) 6.625rem;
}

.second-row {
    display: grid;
    grid-template-columns: 5rem repeat(12, 3.125rem) 4.75rem;
}

.third-row {
    display: grid;
    grid-template-columns: 6rem repeat(11, 3.125rem) 7.1875rem;
}

.fourth-row {
    display: grid;
    grid-template-columns: 7.875rem repeat(10, 3.125rem) 8.75rem; 
}

.fifth-row {
    display: grid;
    grid-template-columns: repeat(3, 4.25rem) 19.375rem repeat(4, 4.25rem);
}

.first-column {
    background-color: var(--first-column);
}

.second-column {
    background-color: var(--second-column);
}

.third-column {
    background-color: var(--third-column);
}

.fourth-column {
    background-color: var(--fourth-column);
}
