@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --blank-key-color: #cbd5e188;
    --first-column: #fde04788;
    --second-column: #86efac88;
    --third-column: #7dd3fc88;
    --fourth-column: #f9a8d488;
    --space-key-color: #d8b4fe88;
    --highlight-color: #ff0000;
}

* {
    box-sizing: border-box;
}

#root {
    display: grid;
    justify-items: center;
}

#text-zone {
    width: 90vw;
    height: 500px;
    padding: 0;
    border: 1px solid #000000;
}

#text-source {
    font-size: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    position: absolute;
    width: 90vw;
    height: 500px;
    padding: 10px;
    opacity: 1;
}

#text-input {
    font-size: 20px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    position: absolute;
    width: 90vw;
    height: 500px;
    padding: 10px;
    border-width: 0px;
    resize: none; 
    opacity: 0.55;
}

#text-source, #keyboard {
    user-select: none;
}

.key, .blank-key, .space-key {
    height: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.key {
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Popping", Arial, Helvetica, sans-serif;
    width: 50px;
}

.blank-key {
    background-color: var(--blank-key-color);
}

.space-key {
    background-color: var(--space-key-color);
}

.highlighted {
    box-shadow: 0 0 4px 4px var(--highlight-color);
}

.first-row {
    display: grid;
    grid-template-columns: 50px repeat(12, 50px) 105px;
    gap: 5px;
    margin: 5px 0;
}

.second-row {
    display: grid;
    grid-template-columns: 80px repeat(12, 50px) 75px;
    gap: 5px;
    margin: 5px 0;
}

.third-row {
    display: grid;
    grid-template-columns: 95px repeat(11, 50px) 115px;
    gap: 5px;
    margin: 5px 0;
}

.fourth-row {
    display: grid;
    grid-template-columns: 125px repeat(10, 50px) 140px;
    gap: 5px;
    margin: 5px 0;
}

.fifth-row {
    display: grid;
    grid-template-columns: repeat(3, 67.5px) 312.5px repeat(4, 67.5px);
    gap: 5px;
    margin: 5px 0;
}

.first-column {
    background-color: var(--first-column);
}

.second-column {
    background-color: var(--second-column);
}

.third-column {
    background-color: var(--third-column);
}

.fourth-column {
    background-color: var(--fourth-column);
}
